<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/harid/main.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <title>portfolio</title>
</head>

<body>
  <div class="frame">
    <div class="main_frame">
      <div class="left_frame">
        <div class="left_1">
          <div class="left_1_1">
            <img src="/public/imges/Profile.jpeg" width="156px" height="142px" alt="">
          </div>
          <div class="left_1_2">
            <p>
              <%=user.name%>
            </p>
          </div>
          <div class="left_1_3">
            <p>
              <%=user.profession%>
            </p>
          </div>
          <div class="left-icons">
            <a class="link_href" href="">
              <div class="icon">
                <img src="icon/Vector.svg" class="icon-1">
              </div>
            </a>
            <a class="link_href" href="">
              <div class="icon">
                <img src="icon/Vector.svg" class="icon-1" />
              </div>
            </a>

            <a class="link_href" href="">
              <div class="icon">
                <img src="icon/Vector-2.svg" class="icon-1" />
              </div>
            </a>

            <a class="link_href" href="/settings">
              <div class="icon">
                <img src="icon/Vector-3.svg" class="icon-1" />
              </div>
            </a>

            <a class="link_href" href="">
              <div class="icon">
                <img src="icon/Vector-4.svg" class="icon-1" />
              </div>
            </a>

            <a class="link_href" href="">
              <div class="icon">
                <img src="icon/Vector-5.svg" class="icon-1" />
              </div>
            </a>

          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <p>
              <%=user.age%>
            </p>
            <p>
              <%=user.residence%>
            </p>
            <p>freelance</p>
            <p>
              <%=user.adress%>
            </p>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <p>Languages</p>
            <p>
              <%=user.languages%>
            </p>
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <p>
              <%=user.skills%>
            </p>
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <p>
              <%=user.extra_skills%>
            </p>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="midd_frame">
          <p class="text">Doctor neurologists
            in OHSU Hospital </p>
          <h3 class="text1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat
            lobortis. Natoque rutrum semper sed suspendisse nunc lectus</h3>
          <button class="btn">HIRE ME -></button>
          <img class="fon" src="/public/images/fon.png" alt="">
          <div class="server">
            <h1>My Services</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum voluptates ea voluptate non facere eaque
              voluptas esse dicta praesentium animi, doloribus, atque necessitatibus rem culpa quis libero, distinctio
              repudiandae! Quod.</p>
            <div class="me1">
              <img src="/public/box_images/Icons_coding.png" alt="">
              <h1>web Development</h1>
              <p>blog e-commerce</p>
            </div>
            <div class="me2">
              <img src="/public/box_images/Icons_game-development.png" alt="">
              <h1>UI/UX DESING</h1>
              <p>mobil app website desing</p>
            </div>
            <div class="me3">
              <img src="/public/box_images/Icons_coding.png" alt="">
              <h1>Sound desingn</h1>
              <p>voise over beat making</p>
            </div>
            <div class="me4">
              <img src="/public/box_images/Icons_Microphone.png" alt="">
              <h1>game desing</h1>
              <p>character desing props object</p>
            </div>
            <div class="me5">
              <img src="/public/box_images/Icons_game-development.png" alt="">
              <h1>photography</h1>
              <p>portrait product photography</p>
            </div>
            <div class="me6">
              <h1>advertising</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla labore ad cupiditate accusantium magni
                facilis recusandae harum adipisci ex explicabo deleniti animi fugit soluta laboriosam eos eligendi, esse
                eius molestias.</p>
              <a href="#">order nav ></a>
            </div>
          </div>
        </div>
        <div class="right_frame">
          <div class="logo">
            <img src="/public/box_images/btn_icon/Vector.png" alt="">
          </div>
          <div class="menu">
            <a href="#"><img src="/public/box_images/btn_icon/Home.png" alt=""></a>
            <a href="#"><img src="/public/box_images/btn_icon/Blog.png" alt=""></a>
            <a href="#"><img src="/public/box_images/btn_icon/Contact.png" alt=""></a>
            <a href="#"><img src="/public/box_images/btn_icon/Contrast.png" alt=""></a>
            <a href="#"><img src="/public/box_images/btn_icon/Cv.png" alt=""></a>

          </div>

        </div>
      </div>
    </div>

</body>

</html>